@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

* {
  font-family: 'Montserrat';
  color: white;
}

.main {
  background-color: #4E9CB5;
  height: 100vh;
  .inner {
    height: calc(100vh - 64px);
  }
  mat-toolbar {
    padding: 0 40px;
    .logo {
      margin-top: 10px;
      width: 60px;
      height: auto;
    }
  }
}

