@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

* {
  font-family: 'Montserrat';
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4E9CB5;
  height: 100vh;
}

.logo {
  margin-top: 10px;
  width: 70px;
  height: auto;
}

.mat-card {
  margin: 10px;
  background-color: white;
  padding: 10px;
}

mat-tab-group {
  width: 90%;
}

.graphic-card,
agm-map {
  height: 70vh;
  width: auto;
}