<div class="main" fxLayout="column" fxLayoutGap="20px">
  <mat-toolbar fxLayout fxLayoutAlign="space-between center">
    <a href="/">
      <img class="logo" src="../assets/img/mao_na_roda_black.png"/>
    </a>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="{{ rla.isActive? 'map' : 'chart' }}">
      <mat-button-toggle value="map" routerLink="clustermap" routerLinkActive #rla="routerLinkActive">Mapa</mat-button-toggle>
      <mat-button-toggle value="chart" routerLink="chart">Histórico</mat-button-toggle>
    </mat-button-toggle-group>
    <div>
      <a href="https://github.com/gabrielloyola/mao-na-roda-frontend">
        <fa-icon [icon]="['fab', 'github']"></fa-icon>
      </a>
    </div>
  </mat-toolbar>
  
  <div fxLayout class="inner">
    <mat-card
      [formGroup]="filterMapForm"
      class="filter"
      fxFlex="20%"
      fxLayout="column"
      fxLayoutGap="25px"
      *ngIf="rla.isActive"
    >
      <mat-card-title>Filtrar mapa</mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutGap="25px">
        <mat-card-subtitle>Visualizando problemas</mat-card-subtitle>
        <div fxLayout="column" fxLayoutGap="10px">
          <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
            <mat-slide-toggle
            fxFlex="20"
            (change)="onChangeSolved($event)"
            formControlName="solvedProblems"
            ></mat-slide-toggle>
            <div fxFlex>Solucionados</div>
          </div>
          
          <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
            <mat-slide-toggle
            fxFlex="20"
            (change)="onChangeUnsolved($event)"
            formControlName="unsolvedProblems"
            ></mat-slide-toggle>
            <div fxFlex>Não solucionados</div>
          </div>
        </div>
        <mat-card-subtitle>Data do reporte</mat-card-subtitle>
        <div fxLayout="column">
          <mat-form-field>
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <input
              matInput
              [matDatepicker]="pickerFrom"
              placeholder="De"
              (dateChange)="onChangeDate()"
              formControlName="problemsFrom"
              (click)="pickerFrom.open()"
            >
            <mat-datepicker #pickerFrom></mat-datepicker>
          </mat-form-field>
        
          <mat-form-field>
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <input
              matInput
              [matDatepicker]="pickerTo"
              placeholder="Até"
              (dateChange)="onChangeDate()"
              formControlName="problemsTo"
              (click)="pickerTo.open()"
            >
            <mat-datepicker
              #pickerTo
            ></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card
      [formGroup]="filterChartForm"
      class="filter"
      fxFlex="20%"
      fxLayout="column"
      fxLayoutGap="25px"
      *ngIf="!rla.isActive"
    >
      <mat-card-title>Filtrar gráfico</mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutGap="25px">
        <mat-card-subtitle>Período inicial</mat-card-subtitle>
        <mat-form-field>
          <mat-datepicker-toggle matSuffix [for]="pickerInitialMonth"></mat-datepicker-toggle>
          <input
            matInput
            [matDatepicker]="pickerInitialMonth"
            (dateChange)="onChangeMonth()"
            formControlName="initialMonth"
            (click)="pickerInitialMonth.open()"
          >
          <mat-datepicker
            #pickerInitialMonth
            startView="year"
            (yearSelected)="chosenYearHandler($event)"
            (monthSelected)="chosenMonthHandler($event, pickerInitialMonth)"
          ></mat-datepicker>
        </mat-form-field>
        <mat-card-subtitle>Período final</mat-card-subtitle>
        <mat-form-field>
          <mat-datepicker-toggle matSuffix [for]="pickerEndMonth"></mat-datepicker-toggle>
          <input
            matInput
            [matDatepicker]="pickerEndMonth"
            (dateChange)="onChangeMonth()"
            formControlName="endMonth"
            (click)="pickerEndMonth.open()"
          >
          <mat-datepicker
            #pickerEndMonth
            startView="year"
          ></mat-datepicker>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <div fxFlex="80%">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>




