<div class="main" fxLayout="column" fxLayoutGap="20px">
  <mat-toolbar fxLayout fxLayoutAlign="space-between center">
    <a href="/">
      <img class="logo" src="../assets/img/mao_na_roda_white.png"/>
    </a>
    <div>
      <a mat-button routerLink="clustermap">Cluster Map</a>
      <a mat-button routerLink="heatmap">Heat Map</a>
      <a mat-button routerLink="chart">Reports Chart</a>
    </div>
    <div>
      <a href="https://github.com/gabrielloyola/mao-na-roda-frontend">
        <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
      </a>
    </div>
  </mat-toolbar>
  
  <div fxLayout class="inner">
    <mat-card class="filter" fxFlex="20%">
      <mat-card-content>
        <h2>Filtrar</h2>
      </mat-card-content>
    </mat-card>
    <div fxFlex="80%">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>




