.clustermap-card {
  /deep/ .si-frame {
    padding: unset !important;
    /deep/ .si-content {
      max-width: unset !important;
      max-height: unset !important;
      width: 250px;
      .marker-infos {
        h4, p,
        span {
          padding: 0 10px;
        }
        p {
          color: rgb(54, 54, 54);
        }
        .solution-infos {
          border-top: 1px solid rgba(179, 176, 176, 0.425);
          background-color: rgba(0, 175, 38, 0.6);
          padding: 20px 0;
          display: flex;
          justify-content: center;
          span {
            font-size: 15px;
            text-align: center;
            font-weight: 500;
            letter-spacing: 0.5px;
            color: white;
          }
        }
      }
    }
  }
}