* {
  box-sizing: border-box;
}

body {
  margin: unset;
}

.mat-card {
  margin: 10px;
  background-color: white;
  padding: 10px;
  min-height: 100%;
}

.graphic-card {
  height: 70vh;
}

ngui-map,
agm-map {
  height: 75vh;
}